.container {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}
header h1  {
    color: #EF171B;
    text-align: center;
}
header nav {
    text-align: center;
}
nav a:link  {
    color: #F9AC2E;
    text-decoration: none;
}
nav a:hover {
    color: #2FE1D7;
    text-decoration: underline;
}
.dfllimg {
    height: 300px;
    background-image: url(%E5%9C%96%E7%89%87/dfll.jpg);
    background-position: center center;
    border-bottom-right-radius: 35px;
    border-top-left-radius: 35px;



}
article h3 {
    background-color: #7EF08B;
    border-radius: 30px;
    text-align: left;
    height: 23px;
}
